{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DMS Forum</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    </head>
    <body style="background-color: #124376">
        <main class="fundo">
            <section class="fundo__conteudo">
                <h1 class="titulo__form">PERGUNTE!</h1>
                <form action="{% url 'pergunte' %}" method="post" class="fundo__conteudo__infos">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <label for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                    {% endfor %}
                    <button type="submit" class="fundo__conteudo__botao">PERGUNTAR</button>
                </form>
            </section>
        </main>
    </body>
    <script src="{% static 'script/script.js' %}"></script>
</html>
