{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DMS Forum</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    </head>
    <body>
        <nav class="navegacao">
            <ul class="navegacao__lista">
                <li><img class="navegacao__lista__imagem" src="{% static './img/logodms.png' %}" alt="Logo da DMS"></li>
                <li class="navegacao__lista__link navegacao__lista__home"><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </nav>
        <div class="container responda__body">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Módulo</th>
                        <th>Pergunta</th>
                        <th>Responda</th>
                    </tr>
                    {% if linha %}
                    {% for pergunta in linha %}
                    <tr>
                        <td>{{ pergunta.modulo }}</td>
                        <td><p class="text-break">{{ pergunta.pergunta }}</p></td>
                        <td><a class="btn btn-primary" href="{% url 'respondaPergunta' pergunta.id %}" role="button">Responda</></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </table>
            </div>
        </div>
    </body>
</html>