{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'responda.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'respondaPergunta.css' %}">

        <title>RESPONDA!</title>
    </head>
  <body>
    <nav class="navegacao">
        <ul class="navegacao__lista">
            <li><img class="navegacao__lista__imagem" src="{% static './img/logodms.png' %}" alt="Logo da DMS"></li>
            <li class="navegacao__lista__link navegacao__lista__home"><a href="{% url 'index' %}">Home</a></li>
        </ul>
    </nav>
    <section class="container">
        <h1 class="titulo">RESPONDA!</h1>
        <div class="resposta">
            <p class="respota__texto">{{ pergunta.pergunta }}</p>
        </div>
        {% for resposta in pergunta.respostas.all %}
        <div class="resposta">
            <p class="respota__texto">{{ resposta.resposta }}</p>
        </div>
        {% endfor %}
        <form action="{% url 'respondaPergunta' pergunta.id  %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">RESPONDER</button>
        </form>
    </section>


    <script src="{% static 'scriptResposta.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>