{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>DMS Forum</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    </head>
  <body>
    <nav class="navegacao">
        <ul class="navegacao__lista">
            <li><img class="navegacao__lista__imagem" src="{% static './img/logodms.png' %}" alt="Logo da DMS"></li>
            <li class="navegacao__lista__link navegacao__lista__home"><a href="{% url 'index' %}">Home</a></li>
        </ul>
    </nav>
    <section class="container">
        <h1 class="titulo__responda">RESPONDA!</h1>
        <div class="resposta">
            <p class="respota__texto">{{ pergunta.pergunta }}</p>
        </div>
        {% for resposta in pergunta.respostas.all %}
        <div class="resposta">
            <p class="respota__texto">{{ resposta.resposta }}</p>
        </div>
        {% endfor %}
        <form action="{% url 'respondaPergunta' pergunta.id  %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">RESPONDER</button>
        </form>
    </section>
  </body>
</html>