@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --cor-primaria: #124376;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #656565;
}

* {
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

body {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navegacao__lista {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegacao__lista__link{
    padding: 2.5rem;
    font-size: 1rem;
}

.navegacao__lista__imagem {
    width: 10rem;
    height: 6rem;
}

.navegacao__lista__home {
    margin-left: auto;
    padding: 2.5rem;
    background-color: #b1c934;
}
